// Custom WP admin styles for pages that have editable fields

// Apply default font-family to wysiwyg fields
#tinymce {
  font-family: var(--fixme-font-family);
}

// Hide TinyMCE branding
.mce-branding {
  display: none !important;
}

// Hide width controls for default blocks
[data-wp-component="ToolsPanelItem"]:has([role="radiogroup"] button[aria-label="25%"]) {
  display: none !important;
}

// Custom ACF field styles
.acf-field {
  // Fix ACFE auto column layout
  &.acf-field-acfe-column[data-columns="auto"] {
    width: 100% !important;
  }

  &[data-columns="auto"] .acf-fields {
    display: flex;
    flex-wrap: wrap;
  }

  &.acf-field-taxonomy {
    max-width: 300px;
  }

  &.auto-width {
    width: auto !important;

    .select2-selection__rendered {
      padding-right: 10px !important;
    }
  }

  // Fix ACF icon alignment
  // .acf-taxonomy-field .acf-icon.small
  .acf-icon {
    &:before {
      left: 50%;
      margin: 0 !important;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // Hide duplicate descriptions (not sure why this happens)
  .description ~ .description {
    display: none;
  }
}// end acf-field

// Custom ACF wysiwyg field styles
.acf-field-wysiwyg {
  .acf-label {
    margin-bottom: 0 !important;

    & > label {
      margin-bottom: 0 !important;
    }
  }

  iframe {
    height: unset;
  }
}// end acf-field-wysiwyg

// Fix bug with collapsing ACF repeater rows when using columns
#wpwrap .acf-row.-collapsed > .acf-fields > [data-columns]:has(.-collapsed-target) {
  display: block !important;

  & ~ [data-columns],
  .acf-field:not(.-collapsed-target) {
    display: none !important;
  }
}

// Make sidebar ACF field groups match default WP styles
.acf-postbox {
  .ui-sortable-handle {
    color: #1e1e1e !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    padding: 16px 24px 16px 16px !important;
  }

  .handle-actions {
    margin-right: 6px;
  }

  .handlediv {
    background-image: svg-url($svg-wp-chev-down, (fill: #000));
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: transform 180ms ease;

    &[aria-expanded="true"] {
      transform: scaleY(-1);
    }
  }

  // Hide original icon
  .toggle-indicator {
    opacity: 0 !important;
  }
}

// Fix to allow ACF tabs bottom border to show
// Note: Duplicate the selector to override default styles
.acf-tab-wrap.acf-tab-wrap {
  overflow: visible;
}

// Fix zebra stripe styles on ACF Field Group page
.acf-internal-post-type :where(th, td) {
  background-color: inherit !important;
}

// Disable ACFE columns in sidebar
.editor-sidebar .acfe-column-wrapper {
  display: block !important;
}

.editor-sidebar .acf-field-acfe-column {
  width: 100% !important;
}
